In [1]:
import pandas as pd
import numpy as np

### Extra: Criação de estrutura de dados

#### Criando "Series":

In [2]:
data=[1,2,3,4,5,6,7,8,9,10]

In [3]:
series=pd.Series(data)

In [4]:
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#criando um indice para a serie:
index=["Linha" + str(i) for i in range(len(data))]
index

['Linha0',
 'Linha1',
 'Linha2',
 'Linha3',
 'Linha4',
 'Linha5',
 'Linha6',
 'Linha7',
 'Linha8',
 'Linha9']

In [6]:
#adicionando o indice a serie:
series=pd.Series(data,index=index)
series

Linha0     1
Linha1     2
Linha2     3
Linha3     4
Linha4     5
Linha5     6
Linha6     7
Linha7     8
Linha8     9
Linha9    10
dtype: int64

#### Criando uma série a partir de um dicionário:

In [7]:
data={'Linha' + str(i):i+1 for i in range(10)}
data

{'Linha0': 1,
 'Linha1': 2,
 'Linha2': 3,
 'Linha3': 4,
 'Linha4': 5,
 'Linha5': 6,
 'Linha6': 7,
 'Linha7': 8,
 'Linha8': 9,
 'Linha9': 10}

In [8]:
series=pd.Series(data)
series

Linha0     1
Linha1     2
Linha2     3
Linha3     4
Linha4     5
Linha5     6
Linha6     7
Linha7     8
Linha8     9
Linha9    10
dtype: int64

### Criando um DataFrame:

In [9]:
data=[[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
df1=pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
#criando um indice para o dataframe:
index=["Linha" + str(i) for i in range(len(data))]
df1=pd.DataFrame(data,index=index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [16]:
#Criando um rotulo para as colunas:
columns = ["Coluna" + str(i) for i in range(len(data[0]))]
df1=pd.DataFrame(data,index=index,columns=columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [18]:
df2=pd.DataFrame(data=[(1,2,3),(4,5,6),(7,8,9)],index=index,columns=columns)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [19]:
#Concatenando dataframes:
#Para isso, irei primeiro modificar os 2 dataframes existentes:
df1[df1>0]="A"
df2[df2>0]="B"

In [20]:
df3=pd.concat([df1,df2])
df3

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [21]:
df4=pd.concat([df1,df2], axis=1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B
Linha1       A       A       A       B       B       B
Linha2       A       A       A       B       B       B

In [26]:
#Outro exemplo:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4