In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [24]:
movies=pd.read_csv("aula0/ml-latest-small/movies.csv")
ratings=pd.read_csv("aula0/ml-latest-small/ratings.csv")

In [25]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [26]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [28]:
ratings.columns=['usuarioId','filmeId','nota','momento']

In [29]:
ratings.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

### Exploração inicial dos dados de notas dadas aos filmes:
1. Quais são os valores de notas possíveis no dataframe de Notas (ratings)?
   * Podemos Checar usando o método `.unique()` da biblioteca pandas.
2.  Qual a distribuição dentro de cada valor de nota?
    *  Podemos checar usando o método `.value_counts()` da biblioteca Pandas.
3. Qual a média dessas notas?
   *  Podemos checar usando o método `.mean()` da biblioteca Pandas.

In [31]:
#Quais são os valores de notas possíveis?
ratings['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [32]:
ratings['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [34]:
ratings['nota'].mean()

3.501556983616962